@charset "UTF-8";

/* 기본셋팅, 공통값 */
body,
input {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.pc {
    display: none;
}

.portfolio {
    height: auto;
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 10vw;
    background-color: transparent;
    transition: 0.8s;
}

.header.scrolled {
    transition: 0.8s;
    background-color: rgba(25, 28, 31, 0.8);
}

.h_inner {
    width: auto;
}

.h_inner ul {
    width: 70.5vw;
    margin: 1vw auto 0 auto;
    padding: 0;
    display: flex;
}

.h_li {
    cursor: pointer;
    color: #fff;
    font-size: 2.7vw;
    margin: 1.5vw;
    list-style: none;
    font-weight: 700;
}

.h_li::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0);
    border-bottom: 2px solid #fff;
}

.h_li.on::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(1);
    transition: 250ms;
    border-bottom: 2px solid #fff;
}

.h_li:hover::after {
    transform: scaleX(1);
    transition: 250ms;
}

.backImg {
    width: 110%;
    top: 0;
    z-index: 1;
    position: fixed;
}

.backImg img {
    opacity: 0.5;
    width: 100%;
    height: auto;
    margin-left: -2.5vw;
}

.container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 500;
    height: auto;
}

.home {
    padding: 15vw 0;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.about {
    width: 100%;
    background-color: #fff;
}

.backBlack {
    text-indent: -99999px;
    width: 100%;
    height: 3000px;
    background-color: #000;
}

.homeText {
    text-align: center;
    margin-bottom: 5vw;
}

.h_text {
    color: #fff;
    font-size: 2vw;
}

.h_text.one {
    margin-left: 2vw;
    font-weight: 700;
    font-size: 8vw;
}

.h_text.two {
    font-weight: 700;
    font-size: 7vw;
    margin-bottom: 2vw;
}

.bi.bi-arrow-down-circle {
    width: 7vw;
    height: 7vw;
}

/* 메인2 */
.c_content.about,
.c_content.resume,
.c_content.portfolio,
.c_content.contact {
    position: relative;
    width: 100%;
    padding: 0 0 10vw 0;
    background-color: #fff;
}

.m1_title {
    position: relative;
    text-align: center;
    height: auto;
}

.m1_title h3 {
    position: relative;
    top: 23vw;
    margin: 0 auto;
    color: #eef0f2;
    font-weight: 700;
    z-index: 1;
    font-size: 15.5vw;
    text-align: center;
}

.m1_title h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    opacity: 0.7;
    font-size: 10.7vw;
    margin-bottom: 15vw;
}

.conImg {
    margin-bottom: 6vw;
    text-align: center;
}

.conImg img {
    width: 30vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0.2vw 1vw 0 rgba(68, 68, 68, 0.8);
}

.textUl {
    margin: 0;
    padding: 0 20vw;
}

.m2_li {
    list-style: none;
    display: inline-flex;
    margin: 0 auto 5vw auto;
}

.pc {
    display: none;
}

.label svg {
    width: 5vw;
    height: 5vw;
    margin-top: 1.5vw;
    margin-right: 2vw;
}

.label {
    width: 28vw;
    color: #666;
    display: flex;
    font-size: 5vw;
    font-weight: 700;
}

.conArea {
    margin-top: 1vw;
    color: #444;
    font-weight: 700;
    font-size: 4vw;
}

.m2_title {
    color: #333;
    font-weight: 700;
    text-align: center;
    font-size: 7vw;
    margin-bottom: 5vw;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-0.8vw);
    }
}

.row {
    cursor: pointer;
    animation: bounce 1.5s infinite;
    /* 애니메이션 적용 */

}

.bar progress {
    margin-top: -1vw;
    width: 40vw;
    height: 8vw;
    margin-right: 3vw;
}

.textUl1 {
    padding: 0 10vw;
}

.m2_text2 .m2_li .label {
    width: 28vw;
    font-size: 4vw;
    font-weight: 700;
}

.mo {
    display: block;
}

.percent {
    margin-top: 0.5vw;
    font-size: 3vw;
    font-weight: 700;
    color: #666;
}

/* 포트폴리오 */
.c_content.portfolio .inner {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10vw;
}

li {
    list-style: none;
}

.btnList {
    display: flex;
    margin-bottom: 10vw;
}

.btn {
    cursor: pointer;
    margin: 0 5vw;
    font-size: 4vw;
    font-weight: 700;
    color: #666;
}

.btn span{
    display: inline-block;
}
.btn span::after {
    content: "";
    display: block;
    width: 100%;
    transition: 250ms;
    transform: scaleX(0);
    border-bottom: 0.7vw solid #333;
}
.btn.slick-slide.slick-current {
    color: #333;
}

.btn.slick-slide.slick-current span::after {
    border-bottom: 0.7vw solid #333;
    transform: scaleX(1);
}

.btn:hover {
    color: #333;
}

.btn:hover span::after {
    border-bottom: 0.7vw solid #333;
    transition: 250ms;
    transform: scaleX(1);
}

.btn.on {
    color: #444;
}

.slide1 {
    width: 100%;
    padding: 0 3vw;
    box-sizing: border-box;
}

.slideImg {
    width: 100%;
    height: 50vw;
    background-color: #777;
    border-radius: 2vw;
    margin-bottom: 3vw;
}

.slideBtns {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
}

.slideBtn {
    width: 22vw;
    text-align: center;
    padding: 0.5vw;
    border-radius: 2vw;
    border: 0.5vw solid #666;
    color: #666;
    font-size: 4vw;
}

.slideBtn:hover {
    border: 0.5vw solid #444;
    color: #f3f3f3;
    background-color: #333;
}
.pc2{
    display: none;
}
.mo2{
    display: block;
}

@media screen and (min-width:768px) {

    /* 태블릿 헤더  */
    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    .header {
        height: 6vw;
    }

    .h_inner ul {
        width: 45vw;
        margin-top: 0.5vw
    }

    .h_li {
        font-size: 1.7vw;
        margin: 1vw;
    }

    .homeText {
        margin-bottom: 5vw;
    }

    .h_text {
        color: #fff;
        font-size: 2vw;
    }

    .h_text.one {
        margin-left: 2vw;
        font-weight: 700;
        font-size: 6vw;
    }

    .h_text.two {
        font-weight: 700;
        font-size: 5vw;
        margin-bottom: 2vw;
    }

    .bi.bi-arrow-down-circle {
        width: 7vw;
        height: 7vw;
    }

    /* 태블릿 메인2 */
    .m1_title {
        margin-bottom: 5vw;
    }

    .m1_title h3 {
        top: 15vw;
        font-size: 9.5vw;
    }

    .m1_title h2 {
        font-size: 7vw;
        margin-bottom: 15vw;
    }

    .conImg img {
        width: 30vw;
        border-radius: 10px;
    }

    /* 메인2 텍스트 */
    .m2_li {
        margin: 0 auto 3vw auto;
        display: flex;
    }

    .label>svg {
        width: 3vw;
        height: 3vw;
        margin-top: 1vw;
        margin-right: 2vw;
    }

    .label {
        width: 28vw;
        font-size: 3vw;
    }

    .conArea {
        margin-top: 0.3vw;
        font-size: 2.5vw;
    }

    .bi.bi-box-arrow-in-up-left {
        width: 2.5vw;
        height: 2.5vw;
        margin: 1.2vw;
        cursor: pointer;
    }

    .site {
        position: relative;
        display: flex;
    }

    .site svg {
        width: 3.5vw;
        height: 3.5vw;
    }

    .site::after {
        position: absolute;
        content: "";
        bottom: 0.3vw;
        display: block;
        width: 97%;
        transition: 250ms;
        transform: scaleX(0);
        border-bottom: 0.3vw solid #666;
    }

    .site:hover::after {
        transform: scaleX(1);
        transition: 250ms;
    }

    /* SKILLS */
    .textUl1 {
        padding: 0 15vw;
    }

    .m2_text2 .m2_li {
        display: block;
    }

    .m2_text2 .m2_li .label {
        width: 100%;
        justify-content: space-between;
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }

    .bar progress {
        width: 100%;
        height: 4vw;
        margin-right: 0vw;
    }

    .percent {
        margin-top: 0vw;
        font-size: 2.5vw;
    }

    /* 768px 포토폴리오 */
    .c_content.portfolio .inner {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10vw;
    }

    li {
        list-style: none;
    }

    .btnList {
        margin-bottom: 5vw;
    }

    .btn {
        margin: 0;
        width: 30vw;
        text-align: center;
        font-size: 2.5vw;
    }

    .btn span::after {
        border-bottom: 0.4vw solid #333;
    }
    .btn.slick-slide.slick-current span::after {
        border-bottom: 0.4vw solid #333;
    }
    .btn:hover span::after {
        border-bottom: 0.4vw solid #333;
    }

    .slideImg {
        border-radius: 1vw;
        margin-bottom: 3vw;
    }

    .slideBtns {
        padding: 0;
    }

    .slideBtn {
        width: 15vw;
        border: 0.3vw solid #666;
        font-size: 2.5vw;
        margin: 0 10vw;
    }

    .slideBtn:hover {
        border: 0.3vw solid #444;
    }
}

@media screen and (min-width:1024px) {
    .mo2{
        display: none;
    }
    .pc2{
        display: block;
    }
    /* pc 헤더  */
    .h_inner ul {
        width: 36.7vw;
    }

    .h_li {
        font-size: 1.3vw;
        margin: 1vw;
    }

    .homeText {
        margin-bottom: 5vw;
    }

    .h_text {
        font-size: 1.7vw;
    }

    .h_text.one {
        font-size: 4vw;
    }

    .h_text.two {
        font-weight: 700;
        font-size: 4vw;
        margin-bottom: 2vw;
    }

    .bi.bi-arrow-down-circle {
        width: 3vw;
        height: 3vw;
    }

    /* PC 메인2 */
    .m1_title h3 {
        top: 9.5vw;
        font-size: 6vw;
    }

    .m1_title h2 {
        font-size: 4.5vw;
        margin-bottom: 2.1vw;
    }

    .m2_text1 {
        margin-bottom: 2vw;
    }

    .conImg {
        margin-right: 2vw;
    }

    .conImg img {
        width: 30vw;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(68, 68, 68, 0.8);
    }

    .content {
        display: flex;
        padding: 0 2vw;
    }

    .textBox {
        display: flex;
    }

    .textUl {
        padding: 0;
        margin: 0 3vw 0 2vw;
    }

    .m2_li {
        margin: 0 auto 1vw auto;
    }

    .label>svg {
        width: 1.7vw;
        height: 1.7vw;
        margin-top: 0.5vw;
        margin-right: 0.5vw;
    }

    .label {
        width: 10vw;
        font-size: 1.7vw;
    }

    .pc .label {
        width: 13vw;
    }

    .city {
        width: 13vw;
    }

    .conArea {
        margin-top: 0.2vw;
        font-size: 1.5vw;
    }

    .bi.bi-box-arrow-in-up-left {
        width: 1.5vw;
        height: 1.5vw;
        margin: 0.5vw;
        margin-top: 0.7vw;
    }

    .site::after {
        border-bottom: 0.2vw solid #666;
    }

    .textBox {
        display: flex;
    }

    .m2_title {
        text-align: left;
        margin: 0;
        margin-left: 2vw;
        font-size: 2vw;
        margin-bottom: 1vw;
    }

    /* SKILLS */
    .m2_text2 .m2_title {
        margin-bottom: 0;
        margin-left: 1.1vw;
    }

    .textUl1 {
        width: 27vw;
        padding: 0 1vw;
    }

    .m2_text2 .m2_li {
        display: block;
    }

    .m2_text2 .m2_li .label {
        width: 100%;
        justify-content: space-between;
        font-size: 1.5vw;
        margin-bottom: 0vw;
    }

    .bar progress {
        width: 100%;
        height: 2vw;
        margin-right: 0vw;
    }

    .percent {
        margin-top: 0vw;
        font-size: 1.4vw;
    }

    .m2_text2 {
        padding: 0 1.2vw;
    }
    /* 포트폴리오 */
    .port_content.pc2{
        display: flex;
    }
    .btnList_pc{
        width: 30vw;
        height: auto;
        display: block;
    }
    .btnList_pc .btn{
        height: auto;
        margin-bottom: 3vw;
    }
    .btnList_pc .btn span{
        font-size: 2vw;
    }
    .portSlide_pc{
        width: 50vw;
    }
    .hiddenBtns{
        display: none;
        height: 5vw;
    }
    .hiddenBtns.on{
        display: block;
    }
    .btn span{
        margin-bottom: 1vw;
    }
    .hiddenBtn{
        margin: 0 auto;
        width: 8vw;
        border: 1px solid #444;
        color: #444;
        border-radius: 5px;
        font-size: 1.2vw;
        margin-bottom: 0.7vw;
        font-weight: 700;
    }
    .hiddenBtn:hover{
        color: #dadada;
        background-color: #444;
    }
}

@media screen and (min-width:1440px) {

    /* 1440 헤더  */
    .home {
        padding: 216px 0;
    }

    .h_inner ul {
        width: 420px;
    }

    .h_li {
        font-size: 15px;
        margin: 11px;
    }

    .homeText {
        margin-bottom: 73px;
    }

    .h_text {
        font-size: 24px;
    }

    .h_text.one {
        margin-left: 28px;
        font-size: 58px;
    }

    .h_text.two {
        font-size: 57px;
        margin-bottom: 28px;
    }

    .bi.bi-arrow-down-circle {
        width: 43px;
        height: 43px;
    }

    /* 1440px 메인2 */
    .m1_title {
        margin-bottom: 72px;
    }

    .m1_title h3 {
        top: 136px;
        font-size: 86px;
    }

    .m1_title h2 {
        font-size: 65px;
        margin-bottom: 30px;
    }

    .conImg {
        margin-right: 28px;
        margin-bottom: 0;
    }

    .conImg img {
        width: 432px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(68, 68, 68, 0.8);
    }

    .inner {
        width: 1440px;
        margin: 0 auto;
    }

    .m2_text1 {
        margin-bottom: 30px;
    }

    .content {
        padding: 0 28px;
    }

    .textUl {
        padding: 0;
        margin: 0 56px 0 28px;

    }

    .m2_li {
        margin-bottom: 14px;
    }

    .label>svg {
        width: 24px;
        height: 24px;
        margin-top: 7px;
        margin-right: 7px;
    }

    .label {
        width: 144px;
        font-size: 25px;
    }

    .pc .label {
        width: 187px;
    }

    .city {
        width: 187px;
    }

    .conArea {
        margin-top: 5px;
        font-size: 19px;
    }

    .bi.bi-box-arrow-in-up-left {
        width: 19px;
        height: 19px;
        margin: 10px;
    }

    .site::after {
        border-bottom: 2px solid #666;
    }


    .m2_title {
        text-align: left;
        margin: 0;
        margin-left: 29px;
        font-size: 28px;
        margin-bottom: 15px;
    }

    /* SKILLS */
    .m2_text2 .m2_title {
        margin-bottom: 0;
        margin-left: 15px;
    }

    .textUl1 {
        width: 417px;
        padding: 0 14px;
    }

    .m2_text2 .m2_li {
        display: block;
    }

    .m2_text2 .m2_li .label {
        font-size: 22px;
        margin-bottom: 0;
    }

    .bar progress {
        height: 28px;
        margin-right: 0;
    }

    .percent {
        margin-top: 0;
        font-size: 20px;
    }

    .m2_text2 {
        padding: 0 20px;
    }

    .c_content.about {
        padding-bottom: 143px;
    }
        /* 포트폴리오 */
        .c_content.portfolio .inner{
            width: 1440px;
            margin: 0 auto;
            padding: 0 10px;
        }
        .port_content{
            width: 1000px;
            margin: 0 auto;
        }
        .btnList_pc{
            width: 432px;
            height: 600px;
        }
        .btnList_pc .btn span{
            font-size: 29px;
            margin-bottom: 14px;
        }
        .btnList_pc .btn{
            height: auto;
            font-size: 29px;
            margin-bottom: 43px;
        }
        .slide1{
            padding: 0 20px;
            width: 100%;
            height: 600px;
        }
        .slideImg{
            border-radius: 7px;
            margin-bottom: 0;
            width: 100%;
            height: 600px;
        }
        .portSlide_pc{
            width: 550px;
            height: 620px;
        }
        .hiddenBtns{
            height: 26px;
            margin-bottom: 30px;
        }
        .hiddenBtn{
            width: 116px;
            font-size: 17px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .btn span::after {
            border-bottom: 2px solid #333;
        }
        .btn.slick-slide.slick-current span::after {
            border-bottom: 2px solid #333;
        }
        .btn:hover span::after {
            border-bottom: 2px solid #333;
        }
}